header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #282c34;
}
.logo h5{
    font-size: 1.3rem;
    color: #7865ff;
}
.nav_list{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}
.nav_item a{
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}
.nav_item a:hover{
    color: #7865ff;
}
.btn{
    background: #7865ff;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: .9rem;
    padding: 5px 10px;
}
.btn:hover{
    background: #fff;
}
.mobile_menu i{
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}
.mobile_menu{
    display: none;
}
.mobile_menu_x{
    display: none;
}
.header_shrink{
    background: #132347;
    box-shadow: 2px 2px 4px -2px #7765ffbd;
}
@media only screen and (max-width: 992px){
    .nav_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #42424269;
        z-index: 888888;
        display: none;
    }
    .nav_list{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: #132347;
        z-index: 999999;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-top: 150px;
        font-size: x-large;
    }
    .mobile_menu_x{
        color: #fff;
        position: absolute;
        top: 15px;
        right: 20px;
        display: inline;
        font-size: 50px;
    }
    .mobile_menu_x:hover{
        color: #7865ff;
    }
    .menu_active{
        display: block;
    }
    .mobile_menu{
        display: block;
    }
    .btn{
        display: none;
    }
    .header{
        height: 50px;
        line-height: 50px;
    }
}

/* header .container{
    padding-top: 15px;
}
header ul li {
    margin-left: 30px;
}
header ul li a {
    transition: 0.5s time;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}
header ul li a:hover{
    color: #ff014f;
}
.btn{
    padding: 18px 25px;
    border-radius: 6px;
    transition: 0.3s all ease;
    cursor: pointer;
    height: fit-content;
    color: #ff014f;
}
.btn{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
} */
